@model LTCAS.ViewModels.PatientBasicInfoViewModel
<script>
    $(document).ready(function () {

        $("#form_insertbasic").validate({
            rules: {
                lastname: {
                    maxlength: 10
                },
                firstname: {
                    maxlength: 20
                },
                socialID: {
                    TWIDCheck: true
                },
                birthday: {
                    dateISO: true
                },
                beginDate: {
                    dateISO: true
                },
                telephone: {
                    taiwanPhone: true
                },
                contact_telephone: {
                    taiwanPhone: true
                },
                contact_cellphone: {
                    mobileTaiwan: true
                }
            },

            submitHandler: function (form) {
                form.submit();
            }
        });
    });

</script>

<div class="alert-success"><h1>@ViewBag.Message</h1></div>
@using (Html.BeginForm("saveBasic", "Patient", FormMethod.Post, new { id = "form_insertbasic", name = "form_insertbasic" }))
{
    <div class="form-group">
        *@Html.DisplayNameFor(m => m.lastname)
        @Html.TextBoxFor(m => m.lastname, new { id = "lastname", name = "lastname", @class = "form-control", maxlength = 10, required = "required", placeholder = "必填" })
    </div>
    <div class="form-group">
        *@Html.DisplayNameFor(m => m.firstname)
        @Html.TextBoxFor(m => m.firstname, new { id = "firstname", name = "firstname", @class = "form-control", maxlength = 20, required = "required", placeholder = "必填" })
    </div>
    <div class="form-group">
        *@Html.DisplayNameFor(m => m.socialID) @Html.TextBoxFor(m => m.socialID, new { id = "socialid", name = "socialid", @class = "form-control", required = "required", maxlength = 10, placeholder = "必填" })
    </div>
    <div class="form-group">

        @Html.DisplayNameFor(m => m.sex)
        <div>
            <label class="radio-inline">@Html.RadioButtonFor(m => m.sex, "1", new { @checked = "checked" })男</label>
            <label class="radio-inline">@Html.RadioButtonFor(m => m.sex, "0")女</label>
        </div>
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.address) @Html.TextBoxFor(m => m.address, new { id = "address", name = "address", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.telephone) @Html.TextBoxFor(m => m.telephone, new { id = "telephone", name = "telephone", @class = "form-control" })
    </div>
    <div class="form-group">
        *@Html.DisplayNameFor(m => m.birthday) @Html.TextBoxFor(m => m.birthday, new { id = "birthday", name = "birthday", @class = "form-control", @type = "date", required = "required", placeholder = "必填" })
    </div>
    <div class="form-group">
        *@Html.DisplayNameFor(m => m.beginDate) @Html.TextBoxFor(m => m.beginDate, new { id = "beginDate", name = "beginDate", @type = "date", @class = "form-control", required = "required", placeholder = "必填" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.fromHospital) @Html.TextBoxFor(m => m.fromHospital, "", new { id = "fromHospital", name = "fromHospital", @class = "form-control" })
        @Html.DisplayNameFor(m => m.fromHospitalCode) @Html.TextBoxFor(m => m.fromHospitalCode, "", new { id = "fromHospitalCode", name = "address", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(m => m.diagnosis) @Html.TextBoxFor(m => m.diagnosis, new { id = "diagnosis", name = "diagnosis", @class = "form-control" })
    </div>
    <div style="display:none">
        Hide
        <div class="form-group">
            @Html.DisplayNameFor(m => m.closeDate) @Html.TextBoxFor(m => m.closeDate, new { id = "closeDate", @value = DateTime.Now.ToShortDateString(), name = "closeDate", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(m => m.closeReason) @Html.TextBoxFor(m => m.closeReason, new { id = "closeReason", name = "closeReason", @class = "form-control" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <h2>聯絡人</h2>
    </div>
    <div class="form-group">
        *聯絡人姓名 @Html.TextBox("contacts", "", new { @class = "form-control", required = "required", placeholder = "必填" })
    </div>
    <div class="form-group">
        *關係 @Html.TextBox("contact_relationship", "", new { @class = "form-control", required = "required", placeholder = "必填" })
    </div>
    <div class="form-group">
        聯絡電話 @Html.TextBox("contact_telephone", "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        *行動電話 @Html.TextBox("contact_cellphone", "", new { @class = "form-control", required = "required", maxlength = 10, placeholder = "必填" })
    </div>
    <div class="form-group">
        *聯絡地址 @Html.TextBox("contact_address", "", new { @class = "form-control", required = "required", placeholder = "必填" })
    </div>
    <div class="form-group">
        <input class="btn btn-danger" type="reset" value="重來" /> <input class="btn btn-success" type="submit" value="確定新增" />
    </div>

}
